<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Saadhan by r/developersIndia</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/developersIndia/assets/main/favicons/favicon.ico">
  <style>
    *{
      margin:0;
    }
    html{
      overflow-y: auto;

    }
    body{
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    main{
      flex-grow: 1;
      padding-bottom: 10px;
    }
    
    footer{
      margin-top: 5rem;
      height: 2rem;   
    }
    a {
      color: #E4376D;
    }
    .grid-container {
      display: grid;
      grid-gap: 1rem;
    }
    .grid-container.grid-repeat-5 {
      grid-template-columns: repeat(5, 1fr);
    }
  </style>
  <script src="https://unpkg.com/htmx.org@1.8.4"></script>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <!-- <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a> -->
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item">
          Home
        </a>
        <a href="/" class="navbar-item">
          How to contribute
        </a>
        <a href="/contributors" class="navbar-item">
          Contributors
        </a>
        <a href="/" class="navbar-item">
          Wiki
        </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a style="background-color: #E4376D;" href="https://reddit.com/r/developersIndia" class="button is-primary">
              <strong>Join Us</strong>
            </a>
            <a href="https://discord.gg/MKXMSNC" class="button is-light">
              Chat
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <main>  
      <div class="content is-vcentered has-text-centered">
        <h1 class="title is-2 is-center">saadhan - resource hub by <a
            href="https://reddit.com/r/developersIndia">r/developersIndia</a></h1>
      </div>
      
      <div class="container">
        {% block content %}
        {% endblock content %}
      </div>
  </main>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Saadhan</strong> by <a href="https://developersindia.in/">r/developersIndia</a>. The source
        code is licensed
        <a href="https://github.com/developersIndia/saadhan/blob/main/LICENSE">GPL v3.0</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.4/randomColor.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src={{ url_for('static', filename='js/custom.js') }}></script>
</body>

</html>
