{% extends 'base.html' %}
{% block content %}
<div class="container is-centered column">
    <!-- <div class="column"> -->
    <h2 class="title is-2">What do you wanna learn today?</h2>
    <!-- </div> -->
</div>

<div class="container" id="categories">
    {% for category, link in categories.items() %}
    <a style="margin: 1%" class="category_name button is-medium" id="category_name" href="/resources?category={{ link }}">{{category}}</a>
    {% endfor %}
</div>

<div id="resources"></div>


{% endblock content %}