{% extends 'base.html' %}

{% block content %}

<div class="container">
    <p class="subtitle is-3 content is-vcentered has-text-centered">All resources to learn {{category}}</p>

    <div style="margin-left: 0.3rem;" class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="subtitle is-4">Filter by level</p>
            <div class="control">
                <div class="select">
                    <form action="">
                        <select name="level" hx-vals='{"category":"{{category}}"}' hx-post="/filtered_resources"
                            hx-target="#resources">
                            <option value="beginner">beginner</option>
                            <option value="intermediate">intermediate</option>
                            <option value="advanced">advanced</option>
                            <option value="everyone">everyone</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>

        <div class="column is-half">
            <p class="subtitle is-4">Filter by type</p>
            <div class="control">
                <div class="select">
                    <select name="type" hx-post="/filtered_resources" hx-vals='{"category":"{{category}}"}' hx-target="#resources">
                        <option value="video">video</option>
                        <option value="article">article</option>
                        <option value="book">book </option>
                        <option value="github">github</option>
                        <option value="course">course</option>
                        <option value="audio">audio</option>
                        <option value="cheatsheet">cheatsheet</option>
                        <option value="website">website</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div id="resources">
        {% for res in resources %}
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <p class="title is-4">{{res.title}}</p>
                </div>
                <span class="tag is-danger">{{res.level}}</span>
                <footer class="card-footer">
                    <a href={{res.url}} class="card-footer-item" rel="noreferrer noopener" target="_blank">Open Link</a>
                    <a target="_blank"
                        href="http://twitter.com/share?text=Hey, checkout this resource {{res.title}} via saadhan.devsindia.in&url={{res.url}}&hashtags=devsindia"
                        class="card-footer-item">Tweet</a>
                </footer>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}